* {
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: #333;
}

a:hover {
    color: #413B97;
    text-decoration: none;
}


body {
    padding-top: 72px;
    overflow: hidden;
}

/************ main banner ***********/
.carousel-item {
    height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    top: 30%;
    text-transform: uppercase;
    right: 0;
    left: 0;
}

.carousel-caption h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.carousel-caption h3 {
    font-size: 1.2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    font-size: 1.1rem;
}





/***************** Footer ****************************/
.footer-background {
    background-color: #f8f8f8;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-background .container {
    justify-content: left;
}

.footer-background ul {
    list-style: none;
    padding: 0;
}

.footer-background ul li {
    display: inline;
    /* padding: 0 0 0 10px; */
}

.footer-background ul li a {
    color: #333;
}
