* {
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: #333;
}

a:hover {
    color: #413B97;
    text-decoration: none;
}


body {
    padding-top: 72px;
    /* overflow-x: hidden; */
}

/************ main banner ***********/
.carousel-item {
    height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    top: 30%;
    text-transform: uppercase;
    right: 0;
    left: 0;
}

.carousel-caption h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.carousel-caption h3 {
    font-size: 1.2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    font-size: 1.1rem;
}

/********** Overview section *************/
.overview {
    width: 100%;
    height: 275px;
}

/* sqaure detail */
.square {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background-color: #fff;
    position: relative;
    top: 25px;
    margin: 0 auto;
}

/*********** about section *************/
.about {
    width: 100%;
    background-color: #f8f8f8;
    height: 500px;
    text-align: center;
    padding: 50px 0;
}

.about h2 {
    font-size: 2rem;
    letter-spacing: .1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Abel' sans-serif;
    padding-top: 2.5rem;
}

.about p {
    font-size: 1.2rem;
    font-family: 'Open sans' sans-serif;
}





/***************** Footer ****************************/
.footer {
    background-color: #f8f8f8;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    justify-content: left;
}

.footer p {
    font-size: .8rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    display: inline;
}

.footer ul li a {
    color: #333;
}
