{% load static %}

<footer>

    <div class="footer-background">
        <div class="container">
            <img src="{% static 'img/dja_full_logo.png' %}" alt="Full logo with name" width="379" height="26">
            <p>939 AEC Drive, Wood Dale, IL 60191 <a href="tel:630-875-0101">Ph: 630-875-0101</a></p>

            <ul>
                <li><a href="#">Technologies |</a></li>
                <li><a href="#">Company |</a></li>
                <li><a href="#">Industries |</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            &copy; {% now "Y" %} <span>| <a href="#">sitemap</a></span>
            
        </div>
    </div>

</footer>