{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
		<!--Item #1-->
		<div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.5)), url('../static/img/robots_welding.jpeg');">
			<div class="carousel-caption text-center">
				<h1>Automated solutions</h1>
				<h3>supplier of teir 1 automotive manufacturers</h3>
				<a href="#" class="btn btn-primary btn-lg">Contact Us</a>
			</div>
		
		</div>

		<!--Item #2-->
		<div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.6)), url('../static/img/automated_painting.jpeg');">
			<div class="carousel-caption text-center">
				<h1>Welcome to DJA</h1>
				<h3>animated bootstrap theme</h3>
				<a href="#" class="btn btn-primary btn-lg">Contact Us</a>
			</div>
		
		</div>

		<!--Item #3-->
		<div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.5)), url('../static/img/smd_machine.jpeg');">
			<div class="carousel-caption text-center">
				<h1>Welcome to DJA</h1>
				<h3>animated bootstrap theme</h3>
				<a href="#" class="btn btn-primary btn-lg">Contact Us</a>
			</div>
		
		</div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
<!--end of hero slider-->

<!--main content container-->
<div class="main-content">
	<section class="overview">

	</section>

	<div class="square"></div><!--angled square detail to transition-->

	<section class="about">
		<div class="container">
			<h2>Turn key solutions designed to meet your needs</h2>
			<p>DJA is a total solutions trading company specializing in machinery and equipment for energy/plant, industrial machinery, electronics, pharmaceutical and aviation fields. Our greatest strength is our “one-stop solution” approach. In addition to our primary machinery, we provide peripheral equipment and plant equipment to offer total trading company support, including engineering, logistics, on-site coordination, and after-sales service. Based on a wealth of know-how and wide-ranging domestic and global networks, we provide machinery and equipment tailored to the needs of our customers. In this way, we offer total trading company solutions that have been vetted by extensive real-world experience.</p>
		</div>

	</section>

</div>


{% endblock %}